@media (min-width: 1024px) {
  .transform-lg {
    transform: scale(1.2);
  }
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation: spin 1s linear infinite;
}
