<div id="content">
  <div id="section-1" class="bg-white">
    <div class="pt-6">
      <div class="mx-auto mb-40 sm:mb-24 mt-6 max-w-2xl sm:px-10 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-x-12 lg:px-8">
        <div class="aspect-h-5 aspect-w-4 lg:aspect-h-4 lg:aspect-w-3 sm:rounded-lg lg:justify-end sm:order-last">
          <img src="assets/images/illustration-working.svg" alt="Working image" class="w-full h-full transform-lg">
        </div>
        <div class="aspect-h-4 aspect-w-3 rounded-lg lg:block sm:block">
          <div class="text-center sm:text-left">
            <h1 class="text-4xl mx-8 sm:mx-0 font-bold tracking-tight text-gray-900 sm:text-7xl font-sans">More than just shorten links</h1>
            <p class="mt-6 mx-4 sm:mx-0 text-2xl leading-8 text-gray-600">Build your brand's recognition and get detailed insights on how your links are performing</p>
            <div class="mt-6 flex justify-center lg:justify-start">
              <button class="bg-teal-400 hover:bg-teal-600 active:bg-teal-800 text-white font-bold py-5 px-12 rounded-full">
                <p class="font-sans text-xl">Get Started</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="relative bg-gray-100">
    <div class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
      <div id="box-helo" class="bg-shorten-desktop bg-purple-800 rounded-lg shadow-md p-12 text-center custom-width-lg sm:custom-width-sm">

        <!-- Grid layout for large screens -->
        <div class="hidden sm:grid lg:grid-cols-4 lg:gap-x-4">
          <div class="lg:col-span-3">
            <!-- Input field takes 75% of grid -->
            <input type="text" class="p-5 border rounded-lg w-full" placeholder="Enter your link here" [(ngModel)]="inputUrl" >
          </div>
          <div class="lg:col-span-1">
            <!-- Button -->
            <button class="bg-teal-400 hover:bg-teal-600 active:bg-teal-800 text-white font-bold p-5 rounded-lg w-full">
              <p class="font-sans text-xl">Shorten it!</p>
            </button>
          </div>
        </div>

        <!-- Single column layout for small screens -->
        <div class="lg:hidden mt-4">
          <input type="text" class="p-5 border rounded-lg w-full mb-2" placeholder="Enter your link here" [(ngModel)]="inputUrl" >
          <button class="bg-teal-400 hover:bg-teal-600 active:bg-teal-800 text-white font-bold p-5 rounded-lg w-full">
            <p class="font-sans text-xl">Shorten it!</p>
          </button>
        </div>

      </div>
    </div>
  </div>
  <div id="section-2" class="bg-gray-100">
    <div class="pt-6">
      <div class="mx-auto mt-36 max-w-2xl sm:px-10 lg:grid lg:max-w-7xl lg:grid-cols-1 lg:gap-x-12 lg:px-8">
        <div class="aspect-h-4 aspect-w-3 rounded-lg lg:block sm:block">
          <div class="text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl font-sans">Advanced Statistics</h2>
            <p class="mt-6 mx-4 sm:mx-64 text-2xl leading-8 text-gray-600">Track how your links are performing across the web with our advanced statistics dashboard</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
