<div id="content">
  <!-- this is section 1 -->
  <app-section-one></app-section-one>


  <!-- this is box to input link to be shorten -->
  <app-box-input-url
  [dataCurrentShortenObject]="dataCurrentShortenObject"
  (emitIsSuccesShorten)="receiveIsSuccessShorten($event)"
  (emitLoading)="receiveLoading($event)"
  (emitNewShortenLink)="receiveNewShortenLink($event)"
  (emitDataCurrentShortenObject)="receiveDataCurrentShortenObject($event)"
  ></app-box-input-url>


  <!-- this is section 2 -->
  <app-section-two [dataCurrentShortenObject]="dataCurrentShortenObject" ></app-section-two>


  <!-- this is section boost -->
  <app-section-boost></app-section-boost>






</div>

<!-- modal for loading -->
<app-modal-loading [isLoading]="loading_full">
</app-modal-loading>

<!-- modal for dialog when success shorten -->
<app-modal-dialog-success-shorten [shortenLink]="newShortenLink" [isSuccesShorten]="isSuccesShorten">
</app-modal-dialog-success-shorten>
