<footer class="bg-neutral-800 text-white py-8">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 mt-8">
    <!-- Column 1 - Logo -->
    <div class="md:col-span-1 text-center">
      <a href="#">
        <p class="font-bold text-2xl">Shortly</p>
      </a>
    </div>

    <!-- Column 2 - Features, Resources, Company -->
    <div class="col-span-1 grid grid-cols-1 md:grid-cols-3 md:gap-4 mt-8 md:mt-0">
      <!-- Features -->
      <div class="col-span-1 grid-cols-1 text-center md:text-left">
        <a href="#">
          <p class="font-bold mb-2">Features</p>
        </a>
        <ul>
          <li class="mb-2"><p class="text-gray-300 text-sm font-sans">Link Shortening</p></li>
          <li class="mb-2"><p class="text-gray-300 text-sm font-sans">Branded Links</p></li>
          <li class="mb-2"><p class="text-gray-300 text-sm font-sans">Analytics</p></li>
        </ul>
      </div>

      <!-- Resources -->
      <div class="col-span-1 grid-cols-1 text-center md:text-left mt-8 md:mt-0">
        <a href="#">
          <p class="font-bold mb-2">Resources</p>
        </a>
        <ul>
          <li class="mb-2"><p class="text-gray-300 text-sm font-sans">Blog</p></li>
          <li class="mb-2"><p class="text-gray-300 text-sm font-sans">Developers</p></li>
          <li class="mb-2"><p class="text-gray-300 text-sm font-sans">Supports</p></li>
        </ul>
      </div>

      <!-- Company -->
      <div class="col-span-1 grid-cols-1 text-center md:text-left mt-8 md:mt-0">
        <p class="font-bold mb-2">Company</p>
        <ul>
          <li class="mb-2"><p class="text-gray-300 text-sm font-sans">About</p></li>
          <li class="mb-2"><p class="text-gray-300 text-sm font-sans">Our Team</p></li>
          <li class="mb-2"><p class="text-gray-300 text-sm font-sans">Careers</p></li>
          <li class="mb-2"><p class="text-gray-300 text-sm font-sans">Link Contact</p></li>
          <li class="mb-2"><p class="text-gray-300 text-sm font-sans">Branded Links</p></li>
          <li class="mb-2"><p class="text-gray-300 text-sm font-sans">Analytics</p></li>
        </ul>
      </div>
    </div>

    <!-- Column 3 - Icons -->
    <div class="md:col-span-1 flex justify-center mt-8 md:mt-0">
      <a href="https://instagram.com">
        <img src="assets/images/icon-instagram.svg" alt="Instagram Icon" class="w-6 h-6 mx-2">
      </a>

      <a href="https://pinterest.com">
        <img src="assets/images/icon-pinterest.svg" alt="Pinterest Icon" class="w-6 h-6 mx-2">
      </a>

      <a href="https://twitter.com">
        <img src="assets/images/icon-twitter.svg" alt="Twitter Icon" class="w-6 h-6 mx-2">
      </a>

      <a href="https://facebook.com">
        <img src="assets/images/icon-facebook.svg" alt="Facebook Icon" class="w-6 h-6 mx-2">
      </a>
      <!-- Repeat for icons 2-4 -->
    </div>
  </div>

</footer>
